:root{
    --green: #5c913b;
    --red: #cf3031;
    --yellow: #ffa200;
    --pink: #ffd4c9;

    --white: #fef6f4;
    --gray: #616161;
    --gray-200: #2e2e2e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sora', sans-serif;
    color: var(--gray-200);
}

header #banner{
    width: 100%;
    height: 500px;
    filter: brightness(0.6);

		position: relative;
}

header h1{
	position: absolute;
	font-size: 96px;
	color: #fff;
}

header h1 .i{
	color: var(--yellow);
}

header h1 .z1{
	color: var(--red);
}

header h1 .z2{
	color: var(--green);
}

.container{
    max-width: 1120px;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.plant{
	position: relative;
	z-index: 2;
}

.plant img{
	width: 100px;
	height: 119px;
}

.fish{
	position: absolute;
	z-index: 3;
}

.fish img{
	width: 100px;
}

.mashroom{
position: absolute;
z-index: 3;
}

.mashroom img{
	width: 50px;
	height: 43px;
}

.pepper{
	position: absolute;
}

.pepper img{
	width: 133px;
	height: 90px;
}

.leaf{
	position: absolute;
}

.leaf img{
	width: 60px;
	height: 97px;
}

.mais{
    /* margin-top: px; */
}

.mais h1{
    font-size: 36px;
    font-weight: 600;

    text-align: center;
}

.mais .cards{
		display: flex;

		justify-content: space-between;
		flex-wrap: wrap;
}

.mais .cards .card{
    width: 256px;
    height: 275px;

		margin: 12px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.mais .cards .card .card-data{
   text-align: center;
   background-color: var(--pink);
   padding: 30px;

   border-radius: 25px;

   /* position: absolute; */
   z-index: 1;

}

.mais .cards .card .card-img{
    position: relative;
    z-index: 2;

    top: 60px;
}

.mais .cards .card .card-img img{
    position: relative;
    z-index: 2;

    top: 35px;
}

.mais .cards .card .card-img .card-favorite{
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: var(--red);

    background-color: var(--pink);
    border: 2px solid var(--red);
    border-radius: 14px;

    position: relative;

    z-index: 1;

    left: 122px;
    bottom: 48px;
}


.mais .cards .card .card-data h2{
    font-size: 16px;
    font-weight: 600;

    margin-top: 24px;
}

.mais .cards .card .card-data p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    color: var(--gray);
}

.mais .cards .card .card-data .preco{
    display: block;

    font-size: 32px;
    font-weight: 600;

    margin-top: 24px;
    /* margin-bottom: 24px; */
}  

.mais .cards .card .botao{
    width: 157px;
    height: 30px;

    background-color: var(--yellow);

    border-radius: 25px;
    position: relative;

    z-index: 2;

    bottom: 15px;
}

.mais .cards .card .botao a{
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    color: var(--gray-200);

    font-size: 12px;
    line-height: 15px;
    font-weight: 600;

}


@media(min-width: 1024px){
	header h1{
		top: 210px;
		left: 512px;
	}

	.plant{
		bottom: 50px;
		right: 40px;
	}
	
	.plant img{
		width: 100px;
		height: 119px;
	}
	
	.fish{
		left: 382px;
		top: 590px;
	}
	
	.fish img{
		width: 100px;
	}
	
	.mashroom{
	left: 1150px;
	top: 587px;
	}
	
	.mashroom img{
		width: 50px;
		height: 43px;
	}
	
	.pepper{
		left: 19px;
		top: 1030px
	}
	
	.pepper img{
		width: 133px;
		height: 90px;
	}
	
	.leaf{
		left: 1210px;
		top: 820px;
	}
	
	.leaf img{
		width: 60px;
		height: 97px;
	}
}

@media(min-width: 1440px){
	header h1{
		top: 200px;
		left: 720px;
	}

	.plant{
		bottom: 40px;
		right: 40px;
	}
	
	.plant img{
		width: 100px;
		height: 119px;
	}
	
	.fish{
		left: 642px;
		top: 590px;
	}
	
	.fish img{
		width: 100px;
	}
	
	.mashroom{
	left: 1450px;
	top: 587px;
	}
	
	.mashroom img{
		width: 50px;
		height: 43px;
	}
	
	.pepper{
		left: 200px;
		top: 1030px
	}
	
	.pepper img{
		width: 133px;
		height: 90px;
	}
	
	.leaf{
		left: 1490px;
		top: 820px;
	}
	
	.leaf img{
		width: 60px;
		height: 97px;
	}
}